.login-card {
  width: 300px;
  margin: 10% auto;
  padding: 50px;
  text-align: center
}

.login-fill-remaining-space {
  flex: 1 1 auto;
}

form {
  display: table;
  margin: auto;
}
.res-message {
  font-size: 10pt;
  color: #666666;
}