<!--TOOLBAR which has the application name on the left side and buttons on the right.
  We have imported the Material toolbar in the material.module.ts file. To have Material buttons,
  we have imported MatToolbarModule which is imported in material.module.ts-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>KML Guard</span>
    <span class="login-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="login-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<!--END OF TOOLBAR CODE-->

<!--LOGIN FORM
    Uses MatCardModule and MatInputModule imported in material.module.ts.
    MatCardModule is Material's layout and MatInputModule provides Material input fields.-->
<mat-card class="login-card">
  <mat-card-title style="text-align: center;">Login</mat-card-title>
  <mat-card-content>
    <form class="login-form">
      <table class="login-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
    <!--login() in login.component.ts-->
  </mat-card-actions>
  <div *ngIf="loading" class="res-message"> Authorizing ...</div>
  <div *ngIf="message" class="res-message"> {{ message }} <countdown-app *ngIf="timer" [timeleft]="timer"></countdown-app></div>
  

</mat-card>
<!--END OF LOGIN FORM CODE-->