#overlay {
    box-shadow: -8px -9px 10px #aaaaaa52;
    display: flex;
    position: fixed;
    max-width: 30%;
    min-width: 400px;
    min-height: 500px;
    max-height: 550px;
    right: 0px;
    bottom: 83px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    cursor: pointer;
    padding: 10px;
    animation: slidein 0.5s;
  }

  @keyframes slidein {
    0% { transform: translate(500px, 0px); }
    50% { transform: translate(0px, 0px); }
    100% { transform: translate(0px, 0px); }
  }
  /*
  @keyframes slideout{
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, 0px); }
    100% { transform: translate(500px, 0px); }
  }
  */


  /* Upload Form Style */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    resize: vertical;
  }
  
  input[type=submit] {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  input[type=button] {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  td[colspan="6"] div, td[colspan="5"] div {
    display: none;
    text-align: left;
    margin-left: 20px;
  }
  
  td[colspan="6"], td[colspan="5"] {
    padding: 0;
    border: 0;
  }
  
  textarea {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 200px;
  }

  #errorMsg{
    color: rgb(170, 1, 1);
  }
  
  /* End of Upload Form style */


