
<div id="overlay" >
    <!--Form--------------------------------------------------->
  
    <form (ngSubmit)="submitUpload()">
      <legend>
        <h1>Upload Form</h1>
      </legend>
  
      <label for="fname">Title</label>
      <input type="text" id="fname" name="title" [(ngModel)]="title" >
  
      <label for="fdescription">File Description</label>
      <textarea id="fdescription" name="fdesciption" [(ngModel)]="description" ></textarea>
  
      Select a file to upload:
      <input type="file" name="file" (change)="fileEvent($event)" id="fileToUpload" accept='.kml'>
      
      <!--File Size Limit Error Message-->
      <p id="sizeError"> {{sizelimit}} </p>

      <!--Upload Form Buttons-->
      <div id="uploadOptions">
        <input type="submit" value="Submit">
        <span class="example-fill-remaining-space"></span>
        <input type="button" value="Cancel" (click)="hideUploadForm()">
      </div>
  
    </form>
    <!--End of Form------------------------------------------>
  </div>
  <!--End of Table--------------------------------------------------------------->
  
 