<app-header></app-header>

<!--Filter Searchbar------------------------------------------------------->
<div class="filterContainer">
  <div class="filterMenu">
    <mat-form-field>
      <mat-label>Filter by...</mat-label>
      <mat-select [(value)]="filterSelect">
        <mat-option value="title" (click)="overwriteFilter()" (click)="fBar = ''">Title</mat-option>
        <mat-option value="filename" (click)="overwriteFilter()" (click)="fBar = ''">Filename</mat-option>
        <mat-option value="upload_by" (click)="overwriteFilter()" (click)="fBar = ''">Uploader</mat-option>
        <mat-option value="date" (click)="overwriteFilter()" (click)="fBar = ''"> Upload Date</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field id="filterBar">
    <input matInput [(ngModel)]="fBar" (keyup)="applyFilter($event.target.value)" placeholder="Filter files">
  </mat-form-field>
  <div id="filterBar1">
    <mat-form-field id="filterDate">
      <input matInput (keyup)="applyDate()" [(ngModel)]="fMonth" placeholder="Filter MM" maxlength="2">
    </mat-form-field>
    <mat-form-field id="filterDate">
      <input matInput (keyup)="applyDate()" [(ngModel)]="fDay" placeholder="Filter DD" maxlength="2">
    </mat-form-field>
    <mat-form-field id="filterDate">
      <input matInput (keyup)="applyDate()" [(ngModel)]="fYear" placeholder="Filter YYYY" maxlength="4">
    </mat-form-field>
  </div>

</div>
<!--End of Filter Searchbar------------------------------------------------>

<ng-template #loading>
  <div style="text-align: center">Loading…and rendering content</div>
</ng-template>

<div *ngIf="dataSource else loading"></div>

<!--
  
-->
<!--Start of File Table---------------------------------------------------->
<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="upload_date"
  matSortDirection="desc" class="mat-elevation-z8">

 <!--Filename Column-->
 <ng-container matColumnDef="kml-icon">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element" width="45px"> <img src="assets/kml-icon.png" style="margin: 0px"></td>

  </ng-container>

  <!--Filename Column-->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>

  </ng-container>

  <!--Upload Date Column-->
  <ng-container matColumnDef="upload_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date </th>
    <td mat-cell *matCellDef="let element"> {{element.upload_date | date: 'medium' }} </td>

  </ng-container>

  <!--Uploader Column-->
  <ng-container matColumnDef="upload_by">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded By </th>
    <td mat-cell *matCellDef="let element"> {{element.upload_by}} </td>
  </ng-container>

  <!--Validation Column-->
  <ng-container matColumnDef="validation">
      <th mat-header-cell *matHeaderCellDef> KML Validation </th>
      <td mat-cell *matCellDef="let element">
        
          <div class="valid"*ngIf=element.parser_status.valid> <mat-icon >check</mat-icon> 
            Valid
          </div>
          <div class="invalid" *ngIf=!element.parser_status.valid> <mat-icon>close</mat-icon>
            Invalid
          </div>

      </td>
    </ng-container>

  <!--Size Column-->
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Size </th>
    <td mat-cell *matCellDef="let element">
      {{ element.file_size | toKBMB:2 }}
    </td>
  </ng-container>


  <!-- End of Columns ----------------------------------------------------->

  <!-- Expanded Content Column ------------------------------------------>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <app-upload-details [element]="element" [dataSource]="dataSource" [uploads]="uploads"></app-upload-details>
      </div>
    </td>
  </ng-container>
  <!--End of Expanded Description box-------------------------------------------->

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tableHeader"></tr>

  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element" (click)="select(element)"></tr>

  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>

<!--End of Table--------------------------------------------------------------->

<div id="footer">
  <!--Back to Top Button------------------>
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" (page)="onPaginateChange($event)" showFirstLastButtons>
  </mat-paginator>

  <div class="btn-container">
    <button mat-flat-button class="footer-btn" (click)="toTop()" color="primary">
      <mat-icon>arrow_upward</mat-icon>
      Back to Top
    </button>
    <!--Upload Button-->
    <button mat-flat-button (click)="showUploadForm()" class="footer-btn" color="primary">
      <mat-icon>cloud_upload</mat-icon>
      Upload
    </button>
  </div>
</div>