<div class="element-description">

    <!--FileName-->
    <div class="element-description-attribution">
      <div class="description-title"> Filename: </div>
      <div class="description-details">{{ element.filename}}</div>
    </div>


    <!--Description-->
    <div class="element-description-attribution">
      <div class="description-title"> Description: </div>
      <div class="description-details">{{ element.description}}</div>
    </div>

    <!--File Size-->
    <div class="element-description-attribution">
      <div class="description-title"> File Size: </div>
      <div class="description-details">{{ element.file_size}}</div>
    </div>

    <!--Last Access Date-->
    <div class="element-description-attribution">
      <div class="description-title"> Last Access Date: </div>
      <div class="description-details">{{ element.lastaccessed }}</div>
    </div>

    <!--KML Validation-->
    <div class="element-description-attribution">
      <div class="description-title"> KML Validation: </div>
      <div class="description-details"> <span [ngClass]="{
          'invalid' : element.kmlvalid == 'Failed',
          'valid' : element.kmlvalid =='Success'
          }"> {{ element.kmlvalid }}</span></div>
    </div>

  </div>