<div class="element-description">

  <!--FileName-->
  <div class="element-description-attribution">
    <div class="description-title"> Filename: </div>
    <div class="description-details">{{ element.filename}}</div>
  </div>

  <!--Description-->
  <div class="element-description-attribution">
    <div class="description-title"> Description: </div>
    <div class="description-details">{{ element.description}}</div>
  </div>

  <!--File Size-->
  <div class="element-description-attribution">
    <div class="description-title"> File Size: </div>
    <div class="description-details">{{ element.file_size | number:'1.1-2' }} KB</div>
  </div>

  <!--Last Access Date-->
  <div class="element-description-attribution">
    <div class="description-title"> Last Access Date: </div>
    <div class="description-details">{{ element.last_modified | date: 'short' }}</div>
  </div>

  <!--KML Validation-->
  <div *ngIf=element.parser_status class="element-description-attribution">
    <div class="description-title"> KML Validation: </div>
    <div class="description-details"> <span [ngClass]="{
          'invalid' : element.parser_status.valid == false,
          'valid' : element.parser_status.valid == true
          }"><b>{{ element.parser_status.valid }}</b></span></div>
  </div>
  <!-- KML Errors -->

  <div *ngIf="element.parser_status.valid == false" class="element-description-attribution">
    <div class="description-title">Errors [ Using XSD Schema ]</div>
    <div class="description-details">
      <div *ngFor="let msg of element.parser_status.messages">
        <li>{{ msg }}</li>
      </div>
    </div>
  </div>

  <!--Buttons-->
  <div class="element-description-attribution">
    <div class="description-title">Actions</div>
    <div class="description-details">
      <!--Download Button-->
      <button mat-raised-button class="downloadButton" (click)="downloadFile(element)">
        <mat-icon>add_box</mat-icon>
        Download
      </button>
  
      <!--Delete Button-->
      <button mat-raised-button class="deleteButton" (click)="openDialog(element)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
  
    </div>
  </div>

</div>

