
.element-description {
  opacity: 0.8;
  display: table;
  font-size: 14px;
  clear: both;
  padding: 8px;
  background-color: #FEFEFE;
}

.element-description-attribution {
  display: table-row;
  height: 20px;
}

.description-title {
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  float: left;
  font-weight: bold;
  width: 150px;
}

.description-details {
  display: table-cell;
  float: left;
  align-content: initial;
}

.valid {
  color: hsl(120, 60%, 70%);
}

.invalid {
  color: red
}
