<div class="element-description">

  <!--FileName-->
  <div class="element-description-attribution">
    <div class="description-title"> Filename: </div>
    <div class="description-details">{{ element.filename}}</div>
  </div>

  <!--Description-->
  <div class="element-description-attribution">
    <div class="description-title"> Description: </div>
    <div class="description-details">{{ element.description}}</div>
  </div>

  <!--Last Access Date-->
  <div class="element-description-attribution">
    <div class="description-title"> Last Access Date: </div>
    <div class="description-details">{{ element.last_modified | date: 'short' }}</div>
  </div>

  <!-- KML Errors -->

  <div *ngIf="element.parser_status.valid == false" class="element-description-attribution">
    <div class="description-title">Errors [ Using XSD Schema ]</div>
    <div class="description-details">
      <div *ngFor="let msg of element.parser_status.messages">
        <li>{{ msg }}</li>
      </div>
    </div>
  </div>

  <!--Buttons-->
  <div class="element-description-attribution">
    <div class="description-title">Actions</div>
    <div class="description-details">
      <!--Download Button-->
      <button mat-stroked-button class="downloadButton" (click)="downloadFile(element)">
        <mat-icon>archive</mat-icon>
        Download
      </button>
  
      <!--Delete Button-->
      <button mat-stroked-button class="deleteButton" (click)="openDialog(element)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
  
    </div>
  </div>

</div>

