<app-header></app-header>

<mat-card class="register-card">
  <mat-card-title>Create Account</mat-card-title>
  <mat-card-content>
    <form class="my-form">
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="first_name" name="first_name" required>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Last Name" [(ngModel)]="last_name" name="last_name" required>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Organization" [(ngModel)]="organization" name="organization" required>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Retype Password" [(ngModel)]="rePassword" type="password" name="rePassword"
          required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Register</button>
    <button mat-raised-button (click)="onSubmit()" color="warn">Cancel</button>
  </mat-card-actions>
  <div *ngIf="errorMsg"> {{ errorMsg }} </div>

</mat-card>