<!--Start of Toolbar-->
<mat-toolbar color="primary" class="siteHeader">
  <mat-toolbar-row>
    <span>KML Guard</span>
    <!--Buttons-->
    <div class="menu">
      <!--About directs user to our GitHub wiki page.-->

      <span>Hello {{ this.authenticationService.getFirstName() }} </span>
    </div>


    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <button *ngIf="this.currentPage() !== '/main'" mat-menu-item (click)="goToMainPage()">
        <mat-icon>assessment</mat-icon>
        <span>Manage files</span>
      </button>

      <button *ngIf="this.authenticationService.isAdmin() && this.currentPage() !== '/user-management'" mat-menu-item
        (click)="goToUserPanel()">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Manage users</span>
      </button>


      <button mat-menu-item (click)="logout()">
        <mat-icon>trending_flat</mat-icon>
        <span>Log out</span>
      </button>

      <button mat-menu-item onclick="location.href = 'https://github.com/MarcM1250/491A-G2SS/wiki';"> 
        <mat-icon>info</mat-icon> 
        <span>About</span>
      </button>


      <button mat-menu-item onclick="location.href = 'https://g2ss.com/contact-us/';">
        <mat-icon>email</mat-icon> 
        <span>Contact</span>
      </button>

    </mat-menu>

    <!--End of Misc Options-->
  </mat-toolbar-row>
</mat-toolbar>
<!--End of Toolbar--------------------------------------------------------->