<!--Start of Toolbar-->
<mat-toolbar color="primary" class="siteHeader">
  <mat-toolbar-row>
    <span>KML Guard</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <!--Buttons-->
    <!--About directs user to our GitHub wiki page.-->
    <button mat-button onclick="location.href = 'https://github.com/MarcM1250/491A-G2SS/wiki';"> About </button>
    <button mat-button>Contact</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <!--End of Buttons-->
    <!--Start of Misc Options-->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()" color="primary">
        <mat-icon>trending_flat</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
    <!--End of Misc Options-->
  </mat-toolbar-row>
</mat-toolbar>
<!--End of Toolbar--------------------------------------------------------->

<!--Filter Searchbar------------------------------------------------------->
<div class="filterContainer">
  <div class="filterMenu">
    <mat-form-field>
      <mat-label>Filter by...</mat-label>
      <mat-select [(value)]="filterSelect">
        <!--Chris: the value property signifies the data property (no ifs/switches!)-->
        <mat-option value="title" (click)="overwriteFilter()">Title</mat-option>
        <!--<mat-option value="upload_date" (click)="overwriteFilter()">Upload Date</mat-option>-->
        <mat-option value="upload_by" (click)="overwriteFilter()">Uploader</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- For testing selection
        <p>You selected: {{filterSelect}}</p>
        -->
  </div>

  <mat-form-field class="filterBar">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter files">
  </mat-form-field>

</div>
<!--End of Filter Searchbar------------------------------------------------>

<!--Start of File Table---------------------------------------------------->
<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

  <!--Filename Column-->
  <ng-container matColumnDef="Filename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    <td mat-footer-cell *matFooterCellDef>
    </td>
  </ng-container>

  <!--Upload Date Column-->
  <ng-container matColumnDef="UploadDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date </th>
    <td mat-cell *matCellDef="let element"> {{element.upload_date}} </td>
    <td mat-footer-cell *matFooterCellDef>
    </td>
  </ng-container>

  <!--Uploader Column-->
  <ng-container matColumnDef="Uploader">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded By </th>
    <td mat-cell *matCellDef="let element"> {{element.upload_by}} </td>
    <!--Sticky Footer Menu-->
    <td mat-footer-cell *matFooterCellDef>
      <div class="dropdown">
        <button mat-raised-button (click)="myFunction()" class="dropbtn">
          <mat-icon>cloud_upload</mat-icon>
          Upload
        </button>
        <div id="myDropdown" class="dropdown-content">


          <!--Form--------------------------------------------------->

          <form action="/action_page.php" (ngSubmit)="submitUpload()">
            <legend>
              <h1>Upload Form</h1>
            </legend>

            <label for="fname">Title</label>
            <input type="text" id="fname" name="title" [(ngModel)]="title" placeholder="Your title..">

            <label for="fdescription">File Description</label>
            <textarea id="fdescription" name="fdesciption" [(ngModel)]="description"
              placeholder="Write something.."></textarea>

            Select image to upload:
            <input type="file" name="file" (change)="fileEvent($event)" id="fileToUpload" accept='image/png'>

            <input type="submit" value="Submit" (click)="submitFunction()">

          </form>
          <!--End of Form------------------------------------------>
        </div>
      </div>
      <!--Back to Top Button------------------>

      <button mat-raised-button class="footerButton" (click)="toTop()">
        <mat-icon>arrow_upward</mat-icon>
        Back to Top
      </button>

      <!--End of Back to Top Button-->

    </td>
    <!--End of Footer Menu------------------------------------------------------->
  </ng-container>
  <!-- End of Columns ----------------------------------------------------->

  <!-- Expanded Content Column ------------------------------------------>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">


        <div class="example-element-description">


          <!--FileName-->
          <div class="example-element-description-attribution">
            <div class="description-title"> Filename: </div>
            <div class="description-details">{{element.filename}}</div>
          </div>


          <!--Description-->
          <div class="example-element-description-attribution">
            <div class="description-title"> Description: </div>
            <div class="description-details">{{element.description}}</div>
          </div>

          <!--File Size-->
          <div class="example-element-description-attribution">
            <div class="description-title"> File Size: </div>
            <div class="description-details">{{element.file_size}}</div>
          </div>

          <!--Last Access Date-->
          <div class="example-element-description-attribution">
            <div class="description-title"> Last Access Date: </div>
            <div class="description-details">{{element.lastaccessed}}</div>
          </div>

          <!--KML Validation-->
          <div class="example-element-description-attribution">
            <div class="description-title"> KML Validation: </div>
            <div class="description-details"> <span [ngClass]="{
                'invalid' : element.kmlvalid == 'Failed',
                'valid' : element.kmlvalid =='Success'
                }">{{element.kmlvalid}}</span></div>
          </div>


        </div>

        <span class="example-fill-remaining-space">
          <!--Right side of expanded box------------>
        </span>
        <!--Download Button-->
        <button mat-raised-button class="downloadButton" (click)="downloadFile(element)">
          <mat-icon>add_box</mat-icon>
          Download
        </button>

        <!--Delete Button-->
        <button mat-raised-button class="deleteButton" (click)="openDialog(element)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </div>
    </td>
  </ng-container>
  <!--End of Expanded Description box-------------------------------------------->

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tableHeader"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element" (click)="select(element)"></tr>

  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky:true"></tr>
</table>

<!--End of Table--------------------------------------------------------------->