/* Structure */
table {
  width: 100%;
}

.siteHeader{

}
.bottomBar{
  
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  font-weight: bold;
  opacity: 1;
}

.description-title {
  font-weight: bold;
  opacity: 1;
}

.description-kml {
  font-weight: bold;
  opacity: 1;
}

.valid{
	color: hsl(120, 60%, 70%);
}

.invalid{
	color:red
}

.downloadButton{
	margin-right: 10px;
	height: 35px;
	color:green;
	border: 1px;
	border-style: outset;
	border-color: #F8F8FF;
}
.deleteButton{
	color:#dc143c;
	height: 35px;
	border: 1px;
	border-style: outset;
	border-color: #F8F8FF;
}
.footerButton{
  float: right;
	margin-right: 1px;
	height: 35px;
	border: 1px;
	border-style: outset;
  border-color: #3498DB;
  background-color: #3498DB;
  color: white;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.item2{
  width: 100%;
}


textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height:200px;
}
.ClassWidth{
  width: 700px;
}

.filter{
  width: 580px;
  float: left;
  overflow: hidden;
}

.filterMenu{
float: left;
}









/*Upload Form Style*/

input[type=text], select, textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


td[colspan="6"] div, td[colspan="5"] div {
  display: none;
  text-align: left;
  margin-left: 20px;
}

td[colspan="6"], td[colspan="5"]{
  padding:0;
  border:0;
}

textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height:200px;
}





/*Clickable Upload Button  */
.show{
  display:block;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  float: right;
  position: relative;
}

.dropdown-content {
  display: none;
  position: static;
  left: 30px;
  right:0;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}