.mat-table {
  width: 100%;
  margin: auto;
  padding-bottom: 65px
}

.adduser-btn-container {
  position: fixed;
  bottom: 65px;
  right: 2%;
  z-index: 5;
}

.adduser-btn {
  font-size: 14px;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  box-shadow: 0px 0px 10px #aaaaaa;
}