<!--Start of Toolbar-->
<mat-toolbar color="primary" class="siteHeader">
  <mat-toolbar-row>
    <span>KML Guard</span>






    <div class="menu">
        <span>Hello {{ this.authenticationService.getFirstName() }} </span>
        <button mat-button (click)="logout()"><mat-icon>cancel</mat-icon> Logout<output></output> </button>

      <!--About directs user to our GitHub wiki page.-->
      <button mat-button onclick="location.href = 'https://github.com/MarcM1250/491A-G2SS/wiki';"><mat-icon>info</mat-icon>  About </button>
      <button mat-button onclick="location.href = 'https://g2ss.com/contact-us/';"><mat-icon>email</mat-icon> Contact</button>

    
      <div *ngIf="this.currentPage() !== '/main'">
        <button mat-button (click)="goToMainPage()">
          <mat-icon>assessment</mat-icon> Manage files 
        </button>
      </div>
    
      <div *ngIf="this.authenticationService.isAdmin() && this.currentPage() !== '/user-management'">
        <button mat-button (click)="goToUserPanel()">
          <mat-icon>supervised_user_circle</mat-icon> Manage users
        </button>
      </div>
    </div>




    <!--End of Misc Options-->
  </mat-toolbar-row>
</mat-toolbar>
<!--End of Toolbar--------------------------------------------------------->